.checkboxStructure{
    float: right; /* Get checkbox all the way to the right of the card */
    margin-left: 100%; /* Take up all the space on the left so the word cannot fit next to the box */
}


.card-text{
    text-align: left;
    font-family: "FreeMono", monospace;
}

.card-text-C{
    text-align: left;
    font-family: "FreeMono", monospace;
    background-color: rgb(228, 235, 190);
    border-radius: 10px;
    width: 100%;
}

.card-text-R{
    text-align: left;
    font-family: "FreeMono", monospace;
    background-color: rgb(253, 63, 63);
    border-radius: 10px;
    width: 100%;
}

.card-text-B{
    text-align: left;
    font-family: "FreeMono", monospace;
    background-color: rgb(87, 143, 248);
    border-radius: 10px;
    width: 100%;
}

.card-text-A{
    text-align: left;
    font-family: "FreeMono", monospace;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    width: 100%;
}



.card-deck-C{
    height: 90%;
    background-color: rgb(228, 235, 190);
    border-radius: 10px;
    width: 100%;
}
.card-deck-R{
    height: 90%;
    background-color: rgb(253, 63, 63);
    border-radius: 10px;
    width: 100%;
}
.card-deck-B{
    height: 90%;
    background-color: rgb(87, 143, 248);
    border-radius: 10px;
    width: 100%;
}
.card-deck-A{
    height: 90%;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    width: 100%;
}
.card-deck-D{
    height: 90%;
    background-color: rgb(228, 235, 190);
    border-radius: 10px;
    width: 100%;
}

.card-deck-revealed-bystander{
    height: 90%;
    background-color: rgb(228, 235, 190, .33);
    border-radius: 10px;
    width: 100%;
}
.card-deck-revealed-blue{
    height: 90%;
    background-color: rgb(87, 143, 248, .33);
    border-radius: 10px;
    width: 100%;
}
.card-deck-revealed-red{
    height: 90%;
    background-color: rgb(253, 63, 63, .33);
    border-radius: 10px;
    width: 100%;
}
.card-deck-revealed-assassin{
    height: 90%;
    background-color: rgb(0, 0, 0, .33);
    color: white;
    border-radius: 10px;
    width: 100%;
}