.checkboxStructure{
    float: right; /* Get checkbox all the way to the right of the card */
    margin-left: 100%; /* Take up all the space on the left so the word cannot fit next to the box */
}

input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;
  
    font: inherit;
    color: currentColor;
    width: 1.05em;
    height: 1.05em;
    border: 0.15em solid currentColor;
    border-radius: 0.25em;
    transform: translateY(-0.075em);
  
    display: grid;
    place-content: center;
  }
  
  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
   
    background-color: CanvasText;
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
}



.card-text{
    text-align: left;
    font-family: "FreeMono", monospace;
}


.card-text-C,
.card-text-R,
.card-text-B,
.card-text-A{
    text-align: left;
    font-family: "FreeMono", monospace,;
    font-weight: 1;
}



.card-deck{
    
    height: 90%;
    background-color: rgb(228, 235, 190);
    border-radius: 10px;
    width: 105%;

    font-family: "FreeMono", monospace;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    
}

.card-deck:hover,
.card-deck:focus,
.card-deck:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  
}

.card-deck-C{
    height: 90%;
    background-color: rgb(228, 235, 190);
    border-radius: 10px;
    width: 100%;
    font-family: "FreeMono", monospace,;
    font-weight: 1;
}


.card-deck-R{
    height: 90%;
    background-color: rgb(253, 63, 63);
    border-radius: 10px;
    width: 100%;
    font-family: "FreeMono", monospace,;
    font-weight: 1;
    
}
.card-deck-B{
    height: 90%;
    background-color: rgb(87, 143, 248);
    border-radius: 10px;
    width: 100%;
    font-family: "FreeMono", monospace,;
    font-weight: 1;
}
.card-deck-A{
    height: 90%;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    width: 100%;
    font-family: "FreeMono", monospace,;
    font-weight: 1;
}
.card-deck-D{
    height: 90%;
    background-color: rgb(228, 235, 190);
    border-radius: 10px;
    width: 100%;
    font-family: "FreeMono", monospace,;
    font-weight: 1;
}

.card-deck-revealed-C{
    height: 90%;
    background-color: rgb(228, 235, 190, .33);
    border-radius: 10px;
    width: 100%;
    font-family: "FreeMono", monospace,;
    font-weight: 1;
}
.card-deck-revealed-B{
    height: 90%;
    background-color: rgb(87, 143, 248, .33);
    border-radius: 10px;
    width: 100%;
    font-family: "FreeMono", monospace,;
    font-weight: 1;
}
.card-deck-revealed-R{
    height: 90%;
    background-color: rgb(253, 63, 63, .33);
    border-radius: 10px;
    width: 100%;
    font-family: "FreeMono", monospace,;
    font-weight: 1;
}
.card-deck-revealed-A{
    height: 90%;
    background-color: rgb(0, 0, 0, .33);
    color: white;
    border-radius: 10px;
    width: 100%;
    font-family: "FreeMono", monospace,;
    font-weight: 1;
}