/* Not used in Game.js but I'm keeping this file for now in case it's needed */

.game{
    background-image: url(../../Images/game.png);
    display: table;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    
}
html, body{ /* Add this to fill out the page without using px */
    margin: 0;
    height: 100%; 
}

.checkboxStructure{
    float: right; /* Get checkbox all the way to the right of the card */
    margin-left: 100%; /* Take up all the space on the left so the word cannot fit next to the box */
}

.gameCode{
    background: rgba(255, 255, 255, .2);
    border-radius: 25px;
    margin-left: 1600px;
    height: fit-content;
    width: 250px;
    display:flex;
    flex-direction: row;
    align-items: center;
    border: 4px solid rgb(255, 255, 255);
    padding: 30px;
    color:white;
}

.teamInfo{
    margin-left: 10px;
}

.redTeam{
    background: rgb(253, 63, 63); /* Copied rbg values from UserInfo page */
    width: 210px;
    height: fit-content;
    border-radius: 15px;
    padding: 0.5%;
}
.blueTeam{
    background: rgb(87, 143, 248); /* Copied rbg values from UserInfo page */
    width: 210px;
    height: fit-content;
    border-radius: 15px;
    padding: 0.5%;
}

.teamTitle{
    margin-left: 10px;
    margin-top: 10px;
    color: black;
    font-size: 22px;
    font-weight: bold;
    font-family: "FreeMono", monospace; /* Changed from Prosto One, I'm not sure if css supports that font? */
    float: left;
}

.teamScore{
    margin-right: 25px;
    margin-top: 10px;
    color: black;
    font-size: 22px;
    font-weight: bold;
    font-family: "FreeMono", monospace;
    float: right;
}

.teamContent{
    margin-left: 10px;
    margin-top: 5px;
    color: black;
    font-size: 14px;
    font-family: "FreeMono", monospace;
}

.bulletContent{
    margin-left: 15px;
    margin-top: 2px;
    color: black;
    font-size: 14px;
    font-family: "FreeMono", monospace;
}

.clueBody{
    background-color: white;
    width:fit-content;
    border-radius: 5px;
    margin-bottom: 25px;
}

.clue{
    padding: 20px;
    color: black;
}

.spymasterClue{
    width: 80%;
    height: 100%;
    border: 15px black;
    position: relative;
    background-color: rgba(255,255,255);
}

.spymasterClue input {
    float: left;
    width: 80%;
    height: 100%;
    position: relative;
    padding: 0px 16px;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
}

.counter{
    background-color: gray;
    float: right;
    width: 20%;
    height: 100%;
}

.counter h6{
    font-size: 20px;
    text-align: left;
}
.counter button{
    float: right;
}

/*Cards Styling*/

/*.card-style{ /* Not used yet still in progress, trying to get that stylish inner border like in figma 
    position: relative;
    background: rgba(255, 255, 255, .0);
    border: 3px solid rgb(186, 196, 129);
    border-radius: 12px;
    height: 30%;
    width: 80%;
    margin: 10%;
} */

.card-deck{
    height: 90%;
    /*background-color: rgb(228, 235, 190);*/
    border-radius: 10px;
    width: 105%;
}

.card-text{
    text-align: left;
    font-family: "FreeMono", monospace;
}

.btn{
    background-color: rgb(196, 205, 117);
    color:black;
    border: 4px solid rgb(228, 235, 190);
}